@font-face {
    font-family: __smartypants_72c98a;
    src: url(/_next/static/media/506d1c522893c307-s.p.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: __smartypants_Fallback_72c98a;
    src: local("Arial");
    ascent-override: 97.29%;
    descent-override: 19.89%;
    line-gap-override: 0.00%;
    size-adjust: 100.63%
}

.__className_72c98a {
    font-family: __smartypants_72c98a, __smartypants_Fallback_72c98a
}